<h1>EAT BURGER</h1>

<h2>BURGERS That Have Not Been Devoured:</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>BURGERS That Have Been Devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a BURGER</h2>
<form class="create-burger-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger_name">BURGER Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Already devoured?</label><br>
    <input type="radio" name="devoured" value="true" checked> Devoured!<br>
    <input type="radio" name="devoured" value="false"> Not yet...
  </div>

  <button type="submit">Add BURGER</button>
</form>